RewriteEngine on

#Don't use for favicon
RewriteCond %{REQUEST_FILENAME} !^favicon\.ico

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.*) index.php?url=$1 [QSA,L]
